[Unit]
Description=Http Bridge to MQTT
After=multi-user.target
StartLimitBurst=1

[Service]
Type=simple
Restart=always
ExecStart=python /home/pi/GLaDOSHomeAssistant/http_bridge.py
User=pi
WorkingDirectory=/home/pi/GLaDOSHomeAssistant/

[Install]
WantedBy=multi-user.target
